In [1]:
!pip install pandas sqlalchemy psycopg2-binary

Requirement already satisfied: pandas in /Users/AKooner/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: sqlalchemy in /Users/AKooner/anaconda3/lib/python3.9/site-packages (1.4.32)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp39-cp39-macosx_10_9_x86_64.whl.metadata (4.4 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/AKooner/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/AKooner/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/AKooner/anaconda3/lib/python3.9/site-packages (from pandas) (1.22.4)
Requirement already satisfied: greenlet!=0.4.17 in /Users/AKooner/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: six>=1.5 in /Users/AKooner/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Downloading psycopg2_binary-2.9.9-cp39-cp39-macosx_10_9_x86_64.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 19.9 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [3]:
import pandas as pd

green_tripdata = pd.read_csv('green_tripdata_2019-09.csv', low_memory=False)
taxi_zone_lookup = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
from sqlalchemy import create_engine

# Replace the placeholders with your actual credentials
engine = create_engine('postgresql://hw1:hw1@localhost:5433/hw1')

In [5]:
green_tripdata.to_sql('green_tripdata', engine, index=False, if_exists='replace')
taxi_zone_lookup.to_sql('taxi_zone_lookup', engine, index=False, if_exists='replace')

265

In [6]:
pd.read_sql_query('SELECT * FROM green_tripdata LIMIT 5', engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,None,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,None,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,None,0.3,18.36,1.0,1.0,0.0

In [8]:
import pandas as pd

query = """
SELECT COUNT(*)
FROM green_tripdata
WHERE 
    DATE(lpep_pickup_datetime) = '2019-09-18' AND
    DATE(lpep_dropoff_datetime) = '2019-09-18';
"""

result = pd.read_sql_query(query, engine)
print(result)

   count
0  15612

In [9]:
query = """
SELECT DATE(lpep_pickup_datetime) AS pickup_day, MAX(trip_distance) AS longest_trip_distance
FROM green_tripdata
GROUP BY DATE(lpep_pickup_datetime)
ORDER BY longest_trip_distance DESC
LIMIT 1;
"""
result = pd.read_sql_query(query, engine)
result

   pickup_day  longest_trip_distance
0  2019-09-26                 341.64

In [13]:
query = """
SELECT z."Borough", SUM(g."total_amount") AS total_revenue
FROM green_tripdata g
JOIN taxi_zone_lookup z ON g."PULocationID" = z."LocationID"
WHERE DATE(g."lpep_pickup_datetime") = '2019-09-18' AND z."Borough" != 'Unknown'
GROUP BY z."Borough"
ORDER BY total_revenue DESC
LIMIT 3;
"""

result = pd.read_sql_query(query, engine)
result

     Borough  total_revenue
0   Brooklyn       96333.24
1  Manhattan       92271.30
2     Queens       78671.71

In [14]:
# query_columns = """
# SELECT column_name
# FROM information_schema.columns
# WHERE table_name = 'green_tripdata';
# """

# columns = pd.read_sql_query(query_columns, engine)
# columns

In [15]:
query = """
SELECT z_drop."Zone" AS dropoff_zone, MAX(g."tip_amount") AS largest_tip
FROM green_tripdata g
JOIN taxi_zone_lookup z_pick ON g."PULocationID" = z_pick."LocationID"
JOIN taxi_zone_lookup z_drop ON g."DOLocationID" = z_drop."LocationID"
WHERE z_pick."Zone" = 'Astoria' AND
      DATE(g."lpep_pickup_datetime") >= '2019-09-01' AND
      DATE(g."lpep_pickup_datetime") < '2019-10-01'
GROUP BY z_drop."Zone"
ORDER BY largest_tip DESC
LIMIT 1;
"""

result = pd.read_sql_query(query, engine)
result

  dropoff_zone  largest_tip
0  JFK Airport        62.31